<li>
    <img src="<%= nft.image %>" alt="" style="width:200px;height:200px;"/>
    <h1><%= nft.name %></h1>
    <p><%= nft.description %></p>
    <p><%= nft.address %></p>
    <p><%= nft.price %></p>
    <p><%= nft.lastUpdate %></p>
    <button>Approve 1</button>
    <button>Buy 2</button>
    <button>Transfer 3</button>
</li>